################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GSTInvoiceHelper/.vs/GSTInvoiceHelper/v16/.suo
/GSTInvoiceHelper/.vs/GSTInvoiceHelper/config
/GSTInvoiceHelper/GSTInvoiceHelper/bin/Debug/netcoreapp3.1
/GSTInvoiceHelper/GSTInvoiceHelper/obj
/GSTInvoiceHelper/GSTInvoiceHelper/bin/Release/netcoreapp3.1
/GSTInvoiceHelper/GSTInvoiceHelper/Properties/PublishProfiles
/GSTInvoiceHelper/GSTInvoiceHelper/classes.zip
